:host {
    display: block;
}

.main-post-container {
    display: flex;
    flex-direction: column;
}

.main-post-container > img {
    aspect-ratio: 16 / 9;
}

.main-post-container > h1 {
    font-size: 1.25rem;
    padding: 0 4px;
    margin: 16px 0 24px 0;
}

.main-post-container > p {
    padding: 0 4px;
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    color: #c0c0c0;
}