.posts {
    width: 60%;
    margin: 64px auto;
    display: flex;
}

.main-post {
    flex-shrink: 0.55;
}

.side-posts {
    flex-shrink: 1;
    margin-left: 48px;
}

.side-post + .side-post {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 2px solid #ddd3;
}
